@model FirstMvc.Models.Talaba

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>
@using (Html.BeginForm("UpdateTalaba", "Talaba", FormMethod.Post))
{
<h4>Talaba</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Ismi" class="control-label"></label>
                <input asp-for="Ismi" class="form-control" />
                <span asp-validation-for="Ismi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yoshi" class="control-label"></label>
                <input asp-for="Yoshi" class="form-control" />
                <span asp-validation-for="Yoshi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manzili" class="control-label"></label>
                <input asp-for="Manzili" class="form-control" />
                <span asp-validation-for="Manzili" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
